body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

table,
th,
tr,
td {
    border: 3px solid;
    border-color: black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-size: larger;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}