h1 {
    text-align: center;
}

body {
    height: 95vh;
    width: 97vw;
    background-image: url("office.jpg");
    background-size: cover;
    justify-content: center;
}

.container {
    width: 80vw;
    height: 80vh;
    background-color: rgba(212, 189, 196, 0.856);
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

label {
    padding-left: 5%;
}

.info input {
    width: 25%;
}

h5 {
    text-align: center;
}

button {
    margin: 20px;
    width: 20%;
    padding: 10px;
    font-size: 20px;
    background: #d0d0d5;
    border: 2px solid;
    align-items: center;
}

#bill,
#address {
    width: 75%;
}

.phone {
    width: 15%;
    height: 10%;
}