* {
    box-sizing: border-box;
}

.container {
    background-color: blueviolet;
    border-radius: 30px;
    width: 98vw;
    height: 95vh;
}

.container1 {
    width: 25vw;
    height: 87vh;
    background-color: white;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

h1 {
    text-align: right;
    text-decoration-color: azure;
}

img {
    min-height: 1vh;
    width: 20%;
    border-radius: 50%;
    text-align: center;
}

h3 {
    text-align: center;
}